body {
    margin: 0;
}

#screen {
    aspect-ratio: 16 / 9;

    display: grid;
    grid-template: 100% / 100%;
}

#game {
    grid-area: 1 / 1;
       
    display: grid;
    grid-template: 100% / 100%;
}

#game_background {
    grid-area: 1 /1;
    
    background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
}

#game_elements {
     grid-area: 1 /1;
     overflow: hidden;
     position: relative;
}

/* positioning elements */

#coin1_container {
    position: absolute;
    
    top: 0;
    left: 10vw;
}

#coin1_sprite {
    width: 100%;   
}

#coin2_container {
    position: absolute;
    
    top: 0;
    left: 40vw;
}

#coin2_sprite {
    width: 100%;
}

#coin3_container {
    position: absolute;
    
    top: 0;
    left: 70vw;
}

#coin3_sprite {
    width: 100%;
}

#bomb_container {
    position: absolute;
    
    top: 0;
    left: 30vw;
}

#bomb_sprite {
    width: 100%;
}

#heart_container {
    position: absolute;
    
    top: 0;
    left: 55vw;
}

#heart_sprite {
    width: 100%;
}


/* UI */
#game_ui {
    position: absolute;
    top: 2vw;
    right: 1vw;
    color: white;
    
    font-size: 2em;
    font-family: sans-serif;
    
    pointer-events: none;
}

#score_board {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: .1em
}

#coin_count {
    white-space: nowrap;
    text-align: right;
}

#coin_image {
    width: 1em;
}

#life_board {
    margin-block-start: .2em;
    display: grid;
    grid-template-columns: 1.2em 1.2em 1.2em;
}

#life_board img {
    width: 100%;
}

.active_heart {
   filter: drop-shadow(0 0 2px yellow);
}

.broken_heart {
    filter: grayscale(75%) blur(.5px);
}

/* Animations */

.falling {
    animation-name: falling;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes falling {
    0% {
        transform: translate(0,-100%);
    }

    100% {
        transform: translate(0,56.25vw);
    }
}

.zoom_out {
    animation-name: zoom_out;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes zoom_out {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

.zoom_in {
    animation-name: zoom_in;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes zoom_in {
    0% {
        transform: translate(0,0) scale(1) rotate(0deg);
    }    
    90% {
        transform: translate(100%,0) scale(15) rotate(90deg);
        opacity: 1;
    }
    100% {
        transform: translate(100%,0) scale(15) rotate(90deg);
        opacity: 0;
    }
}

.spiral {
    animation-name: spiral;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    transform-origin: 50% 150%;
}

@keyframes spiral {
    0% {
        transform: rotate(0deg) scale(1);
    }
    100% {
        transform: rotate(720deg) scale(0);
    }
}

.paused {
    animation-play-state: paused;
}


















